<% content_for :body do %>

<%= render 'brand_bar' %>
<%= render 'site_actions' %>
<%= render 'site_message' %>

  <main role="main" class="page-main container <%= yield(:page_class) if content_for?(:page_class)%>">
    <%= content_for?(:main) ? yield(:main) : yield %>
  </main>

  <%= render 'site_footer' %>
<% end %>

<%= render :template => 'layouts/application' %>
